.container-project {
  /* background-color: yellowgreen; */
}

.date {
  margin-top: 0.5rem;
  font-size: var(--fs-small-text);
}

.container-subtitles {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
}

.container-subtitles .subtitle {
  color: #34e4ea;
  background: rgba(52, 228, 234, 0.1);
}

.paragraph {
  font-size: var(--fs-mid-small-text);
}

.container-bullets {
  margin-top: 1rem;
}

.container-bullets li {
  margin-left: 3rem;
  margin-top: 0rem;

  font-size: var(--fs-mid-small-text);
  padding: 0.3rem 0;
}

.container-links {
  margin: var(--margin-up-down) 0;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--fs-small-text);
}

.container-links .link {
  margin: 1rem 0;
  margin-right: 2rem;

  /* font-weight: 600; */
  color: #34e4ea;
  background: rgba(52, 228, 234, 0.1);

  /* color: #2bc016;
  color: rgb(43, 192, 22); */

  color: rgb(209, 226, 49);
  background: rgba(209, 226, 49, 0.1);

  /* color: rgb(20, 129, 186);
  background: rgba(20, 129, 186, 0.1); */
}

.container-links .link-github {
}

.container-links .link-youtube {
}

.container-links .link-page {
}

.container-imgs {
  width: 100%;
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;

  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap: 2.5rem;
}

.container-imgs img {
  width: 80%;
}
