.container-education {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: var(--margin-up-down) 0;
}

.img-square {
  margin-left: 2rem;
  margin-right: 1.5rem;
  width: 60px;
  height: 60px;
  object-fit: cover;
  /* border-radius: var(--main-border-radius); */
  border-radius: var(--sec-border-radius);
}

.title-experience {
  font-size: var(--fs-mid-text);
  font-weight: 600;
  padding: 0.5rem 0;
}

.subtitle-experience {
  font-size: var(--fs-small-text);
  font-weight: 500;
  padding: 0.3rem 0;
}

.text-experience {
  font-size: var(--fs-small-text);
  padding: 0.3rem 0;
}

.bottom-line {
  height: 0.15rem;
  background-color: var(--main-border-color);
  border: 0;
}
