.container {
  position: relative;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 2.6rem;

  min-height: 110vh;
  max-width: 1200px;
  margin: 0 auto;

  padding-top: 8rem;
  padding-bottom: 5rem;

  /* background-color: yellowgreen; */
}

.box-gradient-ext {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #fff;
}

.box-gradient-ext .box-gradient-int {
  /* position: absolute; */
  width: 100%;
  height: 100%;

  /* background: linear-gradient(
    90deg,
    rgba(249, 233, 0, 0.5) 0%,
    rgba(218, 65, 103, 0.5) 100%
  ); */

  background: linear-gradient(
    90deg,
    rgba(66, 0, 255, 0.5) 0%,
    rgba(226, 0, 56, 0.5) 100%
  );
}

.container-content {
  /* width: 100%; */
  width: 80rem;
  padding: 0 1.5rem;
}
